/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .search-bar{
      @apply w-0 group-hover:w-[300px] transition-all
      duration-300 rounded-full group-hover:border
      group-hover:border-gray-500 px-3 py-1 focus:outline-none
      dark:border-gray-800 dark:bg-gray-900
      group-hover:dark:bg-gray-800;
  }
  .nav-active{
      @apply absolute top-0 bottom-0 block z-50
      left-0 m-auto right-1/4 bg-blue-500 dark:text-white p-4
  }
  .nav-active > ul {
      @apply divide-y-2 divide-gray-400
      tail:flex-col tail:grid tail:gap-14
      pt-20

  }
  .nav-active > ul > li {
      @apply divide-y-2 divide-gray-400
  }
}
@layer utilities {
  .hero-bg-color {
      @apply bg-gradient-to-r from-gray-300/80 to-gray-100
      dark:from-gray-900 dark:to-gray-800 dark:text-white;
  }
}
